<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/duobao</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
     
     	<!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
     
		<!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property> 
        
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>
        
        <!-- Names the annotated entity class -->
        <!-- <mapping class="org.hibernate.tutorial.annotations.Event"/> -->
		<mapping class="com.fozoto.duobao.model.Goods"/>
		<mapping class="com.fozoto.duobao.model.Annal"/>
		<mapping class="com.fozoto.duobao.model.Calculator"/>
		<mapping class="com.fozoto.duobao.model.Detail"/>
		<mapping class="com.fozoto.duobao.model.Issue"/>
		<mapping class="com.fozoto.duobao.model.Lucky"/>
		<mapping class="com.fozoto.duobao.model.Number"/>
		<mapping class="com.fozoto.duobao.model.Shape"/>
        <mapping class="com.fozoto.duobao.model.Gamester"/>
		<mapping class="com.fozoto.duobao.model.Lottery"/>
	</session-factory>
</hibernate-configuration>